*{
margin: 0;
padding: 0;
}

.NB {
    list-style-type: none;
    margin:0px;
    padding:0px;
    overflow: hidden;
    background-color:#0000cc;
}

.element a {
    color:#80d4ff;
    text-align: center;
    padding:15px;
    text-decoration: none;
}

.element a:hover {
    background-color:#80d4ff;
	color:#0000cc;
}

.hidden a{
	cursor:default;
}


@media screen and (min-width:500px){
	
	.element a{
		display: block;
	}
	
	.element {
    float:left;
	}
	
	.button{
		float:right;
		display:none;
	}
		.hidden a{
	display:none;
		}
		
	.NCN{
		display:block;
	}
	.NCY{
		display:block;
	}
}

.hidden a{
	color:#0000cc;
}

.hidden a:hover{
	background-color:#0000cc;
}

@media screen and (max-width:500px){
	
	.NCN{
		display:none;
	}
	.element a{
		display:block;
	}

	.element {
		float:none;
	}
	
	.button{
		float:right;
		display:block;
	}
	
}

.button img:hover{
	cursor:pointer;
}
